{% extends 'base.html' %}

{% block form %}
    <h2>Upcoming matches</h2>
<form action="/predict/" method="post">
    {% csrf_token %}
    <ul>
{% for upc in upcoming %}
<li>  <label for="UpcomingMatch_{{ upc.pk }}">
    <label for="match_{{ upc.pk }}"> {{ upc.home_team }}
        <input id="match_{{ upc.pk }}" type="text" name="match_{{ upc.pk }}_h" size="1"></label>
        -
 <label for="match_{{ upc.pk }}">
     <input id="match_{{ upc.pk }}" type="text" name="match_{{ upc.pk }}_a" size="1"> {{ upc.away_team }}
     </label> </label> </li>

{% endfor %}
</ul>
<input type="submit" value="Submit">
</form>
{% endblock form %}
<br>
{% block submitted %}
<br>
Siz quyidagi o'yinlar uchun o'z taxminlaringizni kiritgansiz!<br>
Kiritgan taxminlaringizni o'zgartirmoqchimisiz?<br>
Unda kerakli qatordagi <b>Match</b> so'ziga bosing!<br>
{% for predict in submitted %}
<a href="/edit/{{ predict.pk }}">Match</a>: {{ predict.match.home_team }} <code>{{ predict.home_score }}</code> - <code>{{ predict.away_score }}</code> {{ predict.match.away_team }}<br>
{% endfor %}
{% endblock submitted %}